asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.1.0
colorama==0.4.6
defusedxml==0.7.1
Django==5.0.2
django-cors-headers==3.14.0
django-environ==0.10.0
django-extensions==3.2.1
django-filter==23.5
djangorestframework==3.14.0
idna==3.4
markdown-it-py==2.2.0
mdurl==0.1.2
multidict==6.0.4
psycopg2==2.9.9
Pygments==2.17.2
PySocks==1.7.1
pytz==2023.3
requests==2.31.0
requests-toolbelt==0.10.1
rich==13.3.3
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.2.0
uWSGI>=2.0.23,<2.1